<html>
    <head>
         <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="<%= path %>/main.css" />
    <script src= "<%= path %>/app.js"></script>
    <body>

<h2>Situation at last Bundestag election</h2>
<div class="gv-coalitions-wrapper">
    <span class="gv-halfway-label">50%</div>
<div class="gv-halfway-marker"></div>

<div class="gv-chamber-graph">
<div class="gv-coalition-name">Grand coalition</div>
<div class="gv-bars-wrapper">
<div class="gv-elex-bar gv-CDU" style="width:47.82608695652174%">CDU</div>
<div class="gv-elex-bar gv-SPD" style="width:32.298136645962735%">SPD</div>
</div>
</div>
<div class="gv-chamber-graph">
<div class="gv-coalition-name">Black and green</div>
<div class="gv-bars-wrapper">
<div class="gv-elex-bar gv-CDU" style="width:47.82608695652174%">CDU</div>
<div class="gv-elex-bar gv-Green" style="width:8.695652173913043%">Green</div>
</div>
</div>
<div class="gv-chamber-graph">
<div class="gv-coalition-name">CDU, Green, FDP</div>
<div class="gv-bars-wrapper">
<div class="gv-elex-bar gv-CDU" style="width:47.82608695652174%">CDU</div>
<div class="gv-elex-bar gv-Green" style="width:8.695652173913043%">Green</div>
<div class="gv-elex-bar gv-FDP" style="width:%">FDP</div>
</div>
</div>
<div class="gv-chamber-graph">
<div class="gv-coalition-name">Red-red-green</div>
<div class="gv-bars-wrapper">
<div class="gv-elex-bar gv-SPD" style="width:32.298136645962735%">SPD</div>
<div class="gv-elex-bar gv-Green" style="width:8.695652173913043%">Green</div>
<div class="gv-elex-bar gv-Linke" style="width:11.180124223602485%">Linke</div>
</div>
</div>
</div>
</body>
</html>